.root {
    font-size: responsive 8px 12px;
    margin-left: 2em;
    font-family: 'Verdana'
} // root

.date {
    font-size: responsive 10px 14px
} // date

.shows {
    margin-bottom: 1em
} // shows

