:global {
    .btn-link {
        color: rgb(0, 136,204) !important
    }

    .btn-link:focus {
        outline: none !important
    }
} // global

.appRoot {
    font-size: responsive 10px 16px
    // font-family: 'Lato', Calibri, Arial, sans-serif
} // appRoot

.calendarPanel {

    margin-top: 4em;
    margin-left: 2em;
    height: 50em;
    width: 58%;
    float: left;
    margin-left: 2em;
    margin-right: 1em;

} // calendar

.showsPanel {
    overflow: hidden
    margin-right: 2em;
    margin-top: 2em;
    float: right;
    width: 33%;
} // showsPanel