.root {
    height: 47em;;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 1em;
} // root

.date {
    font-size: responsive 10px 16px
    margin-bottom: 1em
} // date

.shows {
    margin-bottom: 1.5em
} // shows

