.root {
    font-size: 14px
    color: rgb(0, 136,204)
    border-color: rgb(201, 230, 242)
    background-color: rgb(242, 249, 252)

    width: 100%
    vertical-align: top

    border-color: rgb(201, 230, 242)
    border-right-style: solid
    border-left-style: solid
    border-top-style: solid
    border-bottom-style: solid

    border-right-width: 1px
    border-left-width: 1px
    border-top-width: 1px
    border-bottom-width: 1px

    border-bottom-right-radius: 2px
    border-bottom-left-radius: 2px
    border-top-left-radius: 2px
    border-top-right-radius: 2px

    display: inline-block

    .delete. .title {

        vertical-align: middle

        display: inline-block


    } // .delete, .title

    .title {

        padding-bottom: 2px
        padding-left: 3px
        padding-right: 1px
        padding-top: 1px

    } // .title

    .delete {

        padding-bottom: 2px
        padding-left: 3px
        padding-right: 3px
        padding-top: 1px

        box-sizing: border-box

        border-right-style: solid
        border-right-width: 1px
        border-color: rgb(201, 230, 242)
        border-bottom-left-radius: 2px
        border-top-left-radius: 2px

        cursor: pointer
    }
} // .root