.root {
    font-size: responsive 10px 14px
} // .root

.bands {
    margin-bottom: .5em
} //.show

.plusSign {
    margin-right: 1em
    border-style: solid
} //plusSign

.headerItem {
    margin: 0em 1em 0 0
} // .headerItem


